[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
metatrader5 = "*"
requests = "*"
pandas = "*"
inquirer = "*"
pyqt5 = "*"
pyside6 = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.13"
